body, html {
  font-family: 'Open Sans', sans-serif;
}
#content {
  padding-top: 60px;
}
.form-miletrav {
  height: 38px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cccccc;
  color: #333333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0 none;
    border-color: #158DB4;
}
.react-rater {
  display: inline-block;
  line-height: normal; 
}
.react-rater > * {
    display: inline-block; 
}
.react-rater a {
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: #ccc;
  position: relative; 
}
    .react-rater a.will-be-active {
      color: #24A6A4; }
    .react-rater a.is-active {
      color: #24A6A4; }
    .react-rater a.is-active-half:before {
      color: #24A6A4;
      content: '\2605';
      position: absolute;
      text-decoration: none;
      left: 0;
      width: 50%;
      overflow: hidden; }
    .react-rater a.is-disabled {
      cursor: default; }

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.headroom-wrapper {
  height: auto !important;
}
.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #24A6A4;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #24A6A4;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

.geosuggest__input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;;
    color: #333333;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 17em;
  padding: 0;
  margin-top: 1px;
  background: #fff;
  border: 1px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests-wrapper {
    max-height: 10vh;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  /* font-size: 18px; */
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  .is-not-mobile {
      display: none;
   }
}
.province {
  background: url('https://firebasestorage.googleapis.com/v0/b/miletrav-4f855.appspot.com/o/alice-donovan-rouse-194653%20(1).jpg?alt=media&token=708c0361-f63d-489c-83c5-33095698b89b') top center no-repeat;
  background-size: cover;
  padding-top: 15vh;
  min-height: 60vh;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .province {
      padding-top: 10vh;
   }
}
.register-primary:hover {
  color: #24A6A4;
}
    
@media only screen and (min-width: 768px) {
  .mobile-only {
      display: none;
   }
}

.mt-gradient-1 {
    background: rgba(230, 50, 110, 1);
    background: -moz-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230, 50, 110, 1)), color-stop(100%, rgba(250, 215, 60, 1)));
    background: -webkit-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -o-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -ms-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: linear-gradient(to right, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
}

.mt-pink {
  background: #E6326E;
}

.txt-mt-pink {
  color: #E6326E;
}

.gw-yellow {
  background: #FAD73C;
}

.txt-mt-yellow {
  background: #FAD73C;
}

.mt-primary {
  background: #1B3C46;
}
.txt-mt-green {
  color: #24A6A4;
}
.mt-gradient-2 {
  background: rgba(255, 109, 60, 1);
  background: -moz-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 109, 60, 1)), color-stop(100%, rgba(134, 15, 185, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: linear-gradient(to right, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
}
.above {
  z-index: 6;
}
.mt-orange {
  background: #FF6E3C;
}

.mt-white {
   background: #fff;
}
.txt-mt-orange {
  color: #FF6E3C;
}

.mt-gradient-3 {
  background: rgba(145, 15, 210, 1);
  background: -moz-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145, 15, 210, 1)), color-stop(100%, rgba(45, 50, 190, 1)));
  background: -webkit-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -o-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -ms-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: linear-gradient(to right, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
}
.mt-gradient-4 {
  background: #1B6FB1;
  background: -moz-linear-gradient(left, #1B6FB1 0%, #59BD9F 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #1B6FB1), color-stop(100%, #59BD9F));
  background: -webkit-linear-gradient(left, #1B6FB1 0%, #59BD9F 100%);
  background: -o-linear-gradient(left, #1B6FB1 0%, #59BD9F 100%);
  background: -ms-linear-gradient(left, #1B6FB1 0%, #59BD9F 100%);
  background: linear-gradient(to right, #1B6FB1 0%, #59BD9F 100%);
}

.mt-purple-light {
    background: #910FD2;
}

.txt-mt-purple-light {
    background: #910FD2;
}

.gw-blue {
  background: #2D32BE;
}

.txt-mt-blue {
  color: #2D32BE;
}

.mt-blue-midnight {
  background: #231946;
}

.txt-mt-blue-midnight {
    color: #231946;
}

.txt-mt-white {
  color: #fff;
}

.skill-card {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #24A6A4;
}
.skill-no {
  width: 30px;
  padding: 10px 0;
  text-align: center;
  height: inherit;
  font-size: 13px;
  font-weight: 600;
  display: table-cell;
  vertical-align: top;
  background: #24A6A4;
  color: #FFFFFF;
}
.skill-detail {
  padding: 10px 15px 10px 15px;;
  width: calc(100% - 30px);
  display: table-cell;
  vertical-align: top;
}
.skill-name {
  font-size: 16px;
  font-weight: 600;
  color: #5c6670;
  padding-bottom: 5px;
}
.card-space {
  margin: 3px 0;
}
.form-exp {
    font-size: 10px;
    margin-top: 4px;
    padding: 2px 4px;
    height: auto;
    webkit-box-shadow: none;
    box-shadow: none;
    width: 80px;
    background: #ffffff;
    color: #5c6670;
    border: solid 0.75px #b7c4cd;
}
.skill-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.skill-delete  a {
  color: #616161;
  padding: 5px 22px 10px 20px;
  display: inline-block;
  cursor: pointer;
}
.skill-delete a:hover {
  color: #158DB4 !important;
}
.padding-desc {
  padding-bottom: 5px;
}
.ticket-available {
  padding-bottom: 5px;
}
.ticket-available > i {
  margin-right: 5px;
}