body, html {
  font-family: 'Kanit', sans-serif;
}
#content {
  padding-top: 60px;
}
.form-miletrav {
  height: 38px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cccccc;
  color: #333333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0 none;
    border-color: #158DB4;
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;;
    color: #333333;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 17em;
  padding: 0;
  margin-top: 1px;
  background: #fff;
  border: 1px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests-wrapper {
    max-height: 10vh;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  /* font-size: 18px; */
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  .is-not-mobile {
      display: none;
   }
}

@media only screen and (min-width: 768px) {
  .mobile-only {
      display: none;
   }
}

.mt-gradient-1 {
    background: rgba(230, 50, 110, 1);
    background: -moz-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230, 50, 110, 1)), color-stop(100%, rgba(250, 215, 60, 1)));
    background: -webkit-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -o-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: -ms-linear-gradient(left, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
    background: linear-gradient(to right, rgba(230, 50, 110, 1) 0%, rgba(250, 215, 60, 1) 100%);
}

.mt-pink {
  background: #E6326E;
}

.txt-mt-pink {
  color: #E6326E;
}

.gw-yellow {
  background: #FAD73C;
}

.txt-mt-yellow {
  background: #FAD73C;
}

.mt-gradient-2 {
  background: rgba(255, 109, 60, 1);
  background: -moz-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 109, 60, 1)), color-stop(100%, rgba(134, 15, 185, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
  background: linear-gradient(to right, rgba(255, 109, 60, 1) 0%, rgba(134, 15, 185, 1) 100%);
}

.mt-orange {
  background: #FF6E3C;
}

.txt-mt-orange {
  color: #FF6E3C;
}

.mt-gradient-3 {
  background: rgba(145, 15, 210, 1);
  background: -moz-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145, 15, 210, 1)), color-stop(100%, rgba(45, 50, 190, 1)));
  background: -webkit-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -o-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: -ms-linear-gradient(left, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
  background: linear-gradient(to right, rgba(145, 15, 210, 1) 0%, rgba(45, 50, 190, 1) 100%);
}

.mt-purple-light {
    background: #910FD2;
}

.txt-mt-purple-light {
    background: #910FD2;
}

.gw-blue {
  background: #2D32BE;
}

.txt-mt-blue {
  color: #2D32BE;
}

.mt-blue-midnight {
  background: #231946;
}

.txt-mt-blue-midnight {
    color: #231946;
}